
<div class="span12 pagination-centered">

<h1> Welcome to the Mountain Empire Motel </h1>

<h3> The go-to place for your lodging destination!</h3

<p>We are conveniently located in the heart of Mountain City, Tennessee.</p>
 
 <ul>
 <p> 45 minutes from the Bristol Racetrack  </p>
 <p> 20 minutes from all the trails in Damascus </p>
 <p> 5 minutes from Northeast Center </p>
</ul>
</br>
</br>
</br>
<%= link_to 'Reserve', new_reservation_session_path %>
</br>
</br>
	<p> <%= link_to 'Contact', contact_path %> </p>

</div>

	<p><%= link_to 'New Booking', new_booking_path %></p>



